body {
  width: 100%;
  height: 100%;
  margin: 0;
}


h1 {
  text-align: center;
}

img[title="Welcome to Exceptional Realty Group"] {
  border-width: 1px;
  border-color: red;
}


.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}