body {
  width: 100%;
  height: 100%;
  margin: 0;
}


h1 {
  text-align: center;
}

/*a[href^="http"] {
  border-width: 1px;
  border-color: red;
}*/


.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

nav a{
  background-color: lightgrey;
  padding: 0px 10px 0px 10px;
}

.nav_top {
list-style-type: none;
  display: inline-block;
}
